/* Fonts */
@font-face {
    font-family: 'SSP-Regular';
    src: url('/Fonts/SourceSansPro-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'SSP-BOLD';
    src: url('/Fonts/SourceSansPro-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'SSP-SEMI-BOLD';
    src: url('/Fonts/SourceSansPro-Semibold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'SSP-Light';
    src: url('/Fonts/SourceSansPro-Light.ttf');
    font-weight: 100;
}

body {
    font-family: 'SSP-Regular';
}

/* Page Specific*/
#instructionText {

}

#noResults {
}

/*Navigation Items*/
.navItem {
    border: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #F7931E;
    color: #000000;
    min-width: 30px;
    border-radius: 6px;
    float: left;
    margin-right: 4px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .25s ease; /* Safari and Chrome */
    -moz-transition: all .25s ease; /* Firefox */
    -ms-transition: all .25s ease; /* IE 9 */
    -o-transition: all .25s ease; /* Opera */
    transition: all .25s ease;
}

    .navItem:active {
        -webkit-transform: scale(.90); /* Safari and Chrome */
        -moz-transform: scale(.90); /* Firefox */
        -ms-transform: scale(.90); /* IE 9 */
        -o-transform: scale(.90); /* Opera */
        transform: scale(.90);
        float: left;
    }

.navItemCurrent {
    border: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #cc0000;
    color: #ffffff;
    min-width: 30px;
    border-radius: 6px;
    float: left;
    margin-right: 4px;
    text-align: center;
    cursor: not-allowed;
}

.navGuide {
    border: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #e8e8e8;
    color: #000000;
    min-width: 120px;
    border-radius: 6px;
    float: left;
    margin-right: 4px;
    text-align: center;
    cursor: not-allowed;
}

.navGuideAvailable {
    border: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #F7931E;
    color: #000000;
    min-width: 120px;
    border-radius: 6px;
    float: left;
    margin-right: 4px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .25s ease; /* Safari and Chrome */
    -moz-transition: all .25s ease; /* Firefox */
    -ms-transition: all .25s ease; /* IE 9 */
    -o-transition: all .25s ease; /* Opera */
    transition: all .25s ease;
}

    .navGuideAvailable:active {
        -webkit-transform: scale(.90); /* Safari and Chrome */
        -moz-transform: scale(.90); /* Firefox */
        -ms-transform: scale(.90); /* IE 9 */
        -o-transform: scale(.90); /* Opera */
        transform: scale(.90);
        float: left;
    }

.elipse {
    float: left;
}

/* Toolbar */
.toolTable{
    width:100%;
}

.toolBar {
    vertical-align: middle;
    padding: 8px 2px;
}

.toolControl {
    height: 32px;
    width: 100%;
}

.keyWords {
    width: 75%;
}

.postalCode {
    width: 25%;
}

.searchRange {
    width: 80px;
}

#ddlRange {
    height: 32px;
}

.searchButton {
    width: 36px;
}

.imgButton {
    -webkit-transition: all 1.25s ease; /* Safari and Chrome */
    -moz-transition: all 1.25s ease; /* Firefox */
    -ms-transition: all 1.25s ease; /* IE 9 */
    -o-transition: all 1.25s ease; /* Opera */
    transition: all 1.25s ease;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;
}

    .imgButton:active {
        -webkit-transform: scale(.90); /* Safari and Chrome */
        -moz-transform: scale(.90); /* Firefox */
        -ms-transform: scale(.90); /* IE 9 */
        -o-transform: scale(.90); /* Opera */
        transform: scale(.90);
    }

/*Jobs*/
.jobTitle {
    color: #F7931E;
    font-size:24px;
    font-weight: bold;
    float:left;
}

.jobLocation {
    font-weight: bold;
    float:left;
}

.jobDescription {

}

.dummy{
    clear:both;
}

.jobDistance{
        float: left;
        margin-left: 3px;
        margin-top: 2px;
        padding:1px;
}

.remotePosition{
    border-radius: 10%;
    background-color: #F7931E;
    color:#ffffff;
    margin-left: 5px;
    margin-top: 2px;
    padding:0px 3px;
    float: left;
}

.jobTerm{
    border-radius: 10%;
    float:left;
    padding: 0px 5px;
    color: #ffffff;
    font-weight: bold;
    margin-left:5px;
    margin-top: 6px;
    text-align:center;


}

.termContract{
    background-color: #205079;
}

.termCTH{
    background-color: #4d4102;
}

.termHire{
    background-color: #094812;
}

.learnMore {
    color: #F7931E;
    text-decoration: none;
}

.arrowRight {
    height: 8px;
}

/*ShowJobs*/
.leftColumn {
    /*float: left;
            width: 61.8%;*/
}

.rightColumn {
    /*float: left;
            width: 38.2%;
            min-width: 300px;
            text-align: center;*/
}

.jobHeader {
    font-size: 24px;
    color: #F7931E;
    float: left;
}

.jobLocation {
    font-size: 20px;
    font-weight: bold;
}

.jobDetail {
    margin-top: 10px;
}

.navSection {
    font-size: 20px;
    color: #F7931E;
    clear: both;
}

.goBack {
    color: #F7931E;
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    margin: 5px 0px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.30), rgba(0,0,0,0.70), rgba(0,0,0,0.30));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0.30), rgba(0,0,0,0.70), rgba(0,0,0,0.30));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0.30), rgba(0,0,0,0.70), rgba(0,0,0,0.30));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.30), rgba(0,0,0,0.70), rgba(0,0,0,0.30));
}

.applyHeader {
    font-size: 20px;
    font-weight: bold;
    color: #F7931E;
}

.applyText {
}

.controlTable {
    width: 100%;
}

.controlCell {
    padding: 10px 0px;
}

.controlItem {
    width: 95%;
}

.fileName {
    width: 70%;
}

.submitButton {
    padding: .5em 1.5em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #428BCA;
    border-style: none;
    border-radius: 0;
    font: 16px/1.6 'SSP-BOLD';
    font-weight: bold;
}

.requiredEntry {
    color: red;
}

.redIndicator {
    color: red;
}

/* Sidebar Call-outs */
.callout {
    padding: 0 20px;
}

    .callout h1 {
        text-transform: uppercase;
        font-size: 25px;
        color: #5e5e5e;
    }

    .callout input[type=text] {
        padding: .25em .5em;
    }

    .callout input[type=button],
    .callout button {
        padding: .25em 1em;
        color: #ffffff;
        background-color: #555;
        border-style: none;
        border-radius: 0;
        font: 14px/1.6 'SSP-Regular';
    }
